:root {}

.hello-icon-error {
    border-color: #FF4D4F;
    border-style: solid;
    animation: animateErrorOuter 0.6s;
}

.hello-icon-error-line-one {
    position: absolute;
    width: 3px;
    height: 40px;
    left: 29px;
    top: 9.5px;
    background-color: #FF4D4F;
    transform: rotate(-45deg);
    border-radius: 10px;
    animation: animateLineOne 0.4s;
}

.hello-icon-error-line-two {
    position: absolute;
    width: 3px;
    height: 40px;
    left: 29px;
    top: 9.5px;
    background-color: #FF4D4F;
    transform: rotate(45deg);
    border-radius: 10px;
    animation: animateLineTwo 0.6s;
}

.hello-icon-error-line {
    animation: animateline 0.3s 0.6s;
}

@keyframes animateline {
    0% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateLineOne {
    from {
        height: 0px;
        left: 16px;
        top: 16px;
    }

    50% {
        height: 0px;
        left: 16px;
        top: 16px;
    }

    to {
        height: 40px;
        left: 29px;
        top: 9.5px;
    }
}

@keyframes animateLineTwo {
    0% {
        height: 0px;
        left: 43px;
        top: 16px;
    }

    66% {
        height: 0px;
        left: 43px;
        top: 16px;
    }

    to {
        height: 40px;
        left: 29px;
        top: 9.5px;
    }
}

@keyframes animateErrorOuter {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}