:root {}

.hello-icon-error {
    border-color: #FF4D4F;
    border-style: solid;
}

.hello-icon-error-line-one {
    position: absolute;
    width: 3px;
    height: 40px;
    left: 29px;
    top: 9.5px;
    background-color: #FF4D4F;
    transform: rotate(-45deg);
    border-radius: 10px;
    animation: animateLineOne 0.2s;
}

.hello-icon-error-line-two {
    position: absolute;
    width: 3px;
    height: 40px;
    left: 29px;
    top: 9.5px;
    background-color: #FF4D4F;
    transform: rotate(45deg);
    border-radius: 10px;
    animation: animateLineTwo 0.4s;
}

@keyframes animateLineOne {
    from {
        height: 0px;
        left: 16px;
        top: 14px;
    }

    to {
        height: 40px;
        left: 29px;
        top: 9.5px;
    }
}

@keyframes animateLineTwo {
    0% {
        height: 0px;
        left: 43px;
        top: 16px;
    }

    50% {
        height: 0px;
        left: 43px;
        top: 16px;
    }

    to {
        height: 40px;
        left: 29px;
        top: 9.5px;
    }
}