:root {}

.hello-icon-info {
    border-color: #1890FF;
    border-style: solid;
    animation: animateInfo 0.5s;
}

.hello-icon-info-dot {
    position: absolute;
    width: 5px;
    left: 27px;
    top: 14px;
    height: 5px;
    background-color: #1890FF;
    border-radius: 10px;
}

.hello-icon-info-line {
    position: absolute;
    width: 3.5px;
    top: 26px;
    height: 23px;
    left: 28px;
    background-color: #1890FF;
    border-radius: 10px;
}


@keyframes animateInfo {

    0% {
        transform: rotate(-45deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}