:root {}

.hello-icon-question {
    border-color: #F28401;
    border-style: solid;
}

.hello-icon-question-inner::after {
    content: '?';
    color: #F28401;
    position: absolute;
    left: 17px;
    top: 18px;
    font-size: xxx-large;
    animation: animateInfo 0.6s;
}

@keyframes animateInfo {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}