:root {}

.hello-icon-success {
    border-color: #52C41A;
    border-style: solid;
}

.hello-icon-success-short-line {
    position: absolute;
    width: 3px;
    left: 16.6px;
    height: 18px;
    top: 28.15px;
    background-color: #52C41A;
    transform: rotate(-45deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 12px;
}

.hello-icon-success-long-line {
    position: absolute;
    width: 3px;
    left: 34px;
    top: 13.7px;
    height: 33px;
    background-color: #52C41A;
    transform: rotate(45deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}