@import url(./icons/error.scss);
@import url(./icons/info.scss);
@import url(./icons/question.scss);
@import url(./icons/success.scss);
@import url(./icons/warning.scss);

.hello-icon-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 3px;
    margin: 20px;
}