@import '../mixins/index.scss';

.hello-modal {
    @include helloModal();

    .hello-bottom {
        padding: 5px;
        display: grid;
        justify-content: right;
        display: flex;

        button {
            width: fit-content;
            margin: 5px;
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 5px 10px 5px 10px;
            border-radius: 3px;
            border-width: 0.5px;
            cursor: pointer;
        }

    }

}