@import '../mixins/index.scss';

.hello-modal {
    @include helloModal();

    .hello-header {
        padding: 5px;
        font-size: large;
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .hello-close-button {
            border: none;
            background-color: inherit;
            margin-right: 8px;
            margin-left: 8px;

            &::before {
                @include forkBody();
                transform: rotate(45deg);
            }

            &::after {
                @include forkBody();
                transform: rotate(-45deg);
            }
        }

        .hello-full-screen-button {
            border: 2px solid black;
            border-radius: 2px;
            background-color: white;
            height: 15px;
            width: 15px;
            cursor: pointer;
        }
    }
}