:root {}

.hello-icon-success {
    border-color: #52C41A;
    border-style: solid;
}

.hello-icon-success-svg {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: animationCheck .6s ease forwards;
}

@keyframes animationCheck {
    from {
        stroke-dashoffset: 400;
    }

    to {
        stroke-dashoffset: 0;
    }
}